/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
} */

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  /* max-width: 400px; */
}
.nav-links li a {
  padding: 2px;
  margin: 0px 6px;
  border-radius: 5px;
  text-decoration: none;
  /* font-size: large; */
}
.nav-links a:hover {
  background-color: rgb(168, 168, 168);
  transition: 0.2s;
}

.night {
  font-size: x-large;
  margin: 0px 10px;
}

.menu-links {
  position: absolute;
  background: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* display: none; */
  width: 100%;
  top: 68px;
  left: 0px;
}

.menu-links ul li a {
  color: white;
}
.menu-links ul li {
  text-align: center;
  padding: 3px 0px;
}

.dark.menu-links ul li:hover {
  background-color: rgb(83, 83, 83);
}
@media screen and (max-width: 1023px) {
  .nav-links ul li a {
    /* padding: 3px 3px; */
    /* border-radius: 5px; */
    color: #fff;
    font-size: large;
  }
}

@media screen and (max-width: 639px) {
  .nav-links {
    display: none;
  }

  /* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px;
  } */
}
